body{
    background-color: black;
}

h1{
    margin-bottom: 10px;
}

#logo-container{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#logo{
    height: auto;
    width: 100%;
}

#container{
    display: flex;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#image-container{
    flex: 1;
    border: solid white;
}

#game-container{
    flex: 1;
    font-size: larger;
    color: white;
    text-align: center;
}

#movie-poster{
    display: none;
    width: 100%;
}

#wordDiv{
    white-space: pre-wrap;
}